# virtual environment
venv/
.env

# python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

#Databases
*.db

# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.*.local
